
@{
    ViewBag.Title = "Index";
}

<h2>SEO Analyzer</h2>

<div class="container">
    <div class="row row-m-t">
        <div class="col-md-1">
            <label>Keywords</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" type="text" data-bind="value: keywords" />
        </div>

    </div>
    <div class="row row-m-t">
        <div class="col-md-1">
            <label>URL</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" type="url" data-bind="value: url" />
        </div>
    </div>
    <div class="row row-m-t">
        <div class="col-md-4">
            <button class="btn btn-primary" data-bind="click: clickHandler" style="width:100%">
                Search
            </button></div>
    </div>
</div>



<div>
    <div data-bind="visible: isError">
        <span class="label label-danger" >Error retrieving results</span>
    </div>
    
    <div data-bind="class: loader"></div>
    <div data-bind="visible: haveResults">
        <h3>Results</h3>
        Your URL appears in these positions:
        <span class="label label-primary" data-bind="text: resultsSummary"></span>



        <table class="table">
            <thead>
                <tr><th>Rank</th><th>URL</th></tr>
            </thead>
            <tbody data-bind="foreach: results">
                <tr data-bind="class: MatchClass">
                    <td data-bind="text: Rank"></td>
                    <td data-bind="text: Url"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


<script src="~/Scripts/home.js"></script>





